.col-settings {
  padding: 0px 20px 0px 32px;

  .ant-row {
    display: flex;
    .ant-form {
      display: flex;
      padding: 5px 32px;
      gap: 15px;
      .ant-form-item {
        width: 90%;
      }

      .send-icon {
        content: url(../../assets/send.png);
        width: 28px;
        height: 28px;
      }

      .ant-select-selector {
        height: 42px;
        border-radius: 12px;
        background-color: #eaeaea;

        .ant-select-selection-placeholder {
          color: black;
          font-size: 16px;
        }
      }
      button {
        background-color: #25c78b;
        display: flex;
        align-items: center;
        height: 42px;
        border-radius: 17px;
      }
    }
  }

  form {
    .row-general {
      background-color: white;
      padding: 16px;
      border-radius: 14px;
      margin-bottom: 30px;

      .heading-general {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }

    .row-account-settings {
      background-color: white;
      padding: 16px;
      border-radius: 14px;

      .heading-account-settings {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }

    .wrapper-form-footer {
      display: flex;
      justify-content: end;
      .wrapper-btn {
        gap: 10px;
        display: flex;
        padding: 30px 0px;
        .cancel {
          height: 29px;
          display: flex;
          align-items: center;
          border-radius: 12px;
          background-color: #d6001c;
          color: white;
        }
        .save {
          height: 29px;
          display: flex;
          align-items: center;
          border-radius: 12px;
          background-color: #25c78b;
          color: white;
          padding: 4px 20px;
        }
      }
    }

    .bold {
      font-weight: 500;
    }
  }
}
