.col-settings {
  padding: 0px 20px 0px 32px;

  .ant-row {
    display: flex;
    .ant-form {
      display: flex;
      padding: 5px 32px;
      gap: 15px;
      .ant-form-item {
        width: 90%;
      }

      .send-icon {
        content: url(../../assets/send.png);
        width: 28px;
        height: 28px;
      }

      .ant-select-selector {
        height: 42px;
        border-radius: 12px;
        background-color: #eaeaea;

        .ant-select-selection-placeholder {
          color: black;
          font-size: 16px;
        }
      }
      button {
        background-color: #25c78b;
        display: flex;
        align-items: center;
        height: 42px;
        border-radius: 17px;
      }
    }
  }

  form {
    width: 50%;
    .login-btn {
      width: 100%;
      background-color: #25c78b;
      box-shadow: none;
      border-color: white;
      font-weight: 400;
      font-size: 18px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .wrapper-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 33px;
      gap: 12px;

      h2 {
        font-size: 32px;
      }
    }

    .app-logo {
      content: url(../../assets/trademark.png);
    }

    .bold {
      font-weight: 500;
    }
  }
}
