.col-2-home {
    padding-right: 12px;
  
    &.user-profile {
      padding-top: 85px;
    }
    .heading {
      margin-bottom: 16px;
    }
    .ant-row {
      background-color: white;
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      padding: 5px 10px 22px 16px;
  
      h2 {
        margin-top: 10px;
        font-weight: 500;
        font-size: 22px;
      }
      .user-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
  
        .wrapper-user-details {
          display: flex;
          align-items: center;
          gap: 14px;
  
          .ant-avatar {
            width: 45px !important;
            height: 45px !important;
          }
  
          h4 {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
          }
  
          p {
            margin: 0;
          }
        }
  
        button {
          background-color: #25c78b;
          border-color: #25c78b;
          color: white;
          font-weight: 400;
          font-size: 15px;
          padding: 4px 20px;
          border-radius: 17px;
        }
      }
    }
  }