.col-1-notifications {
  padding: 0px 20px 0px 32px;

  .ant-row {
    display: flex;
    .ant-form {
      display: flex;
      padding: 5px 32px;
      gap: 15px;
      .ant-form-item {
        width: 90%;
      }

      .send-icon {
        content: url(../../assets/send.png);
        width: 28px;
        height: 28px;
      }

      .ant-select-selector {
        height: 42px;
        border-radius: 12px;
        background-color: #eaeaea;

        .ant-select-selection-placeholder {
          color: black;
          font-size: 16px;
        }
      }
      button {
        background-color: #25c78b;
        display: flex;
        align-items: center;
        height: 42px;
        border-radius: 17px;
      }
    }
  }
}

.wrapper-notifications {
  height: 90vh;
  overflow-y: auto;

  // Hide scrollbar for Firefox
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  // Hide scrollbar for Chrome, Safari, and Opera
  &::-webkit-scrollbar {
    width: 0.4em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .user-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    background-color: white;
    padding: 24px;
    border-radius: 14px;

    .wrapper-user-details {
      display: flex;
      align-items: center;
      gap: 14px;

      .wrapper-content {
        color: #4f4f4f;
      }
      .notification-icon {
        content: url(../../assets/notification.png);
        padding-right: 10px;
      }
      .ant-avatar {
        width: 45px !important;
        height: 45px !important;
      }

      h4 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
      }

      p {
        margin: 0;
      }
    }

    button {
      background-color: #25c78b;
      border-color: #25c78b;
      color: white;
      font-weight: 400;
      font-size: 15px;
      padding: 4px 20px;
      border-radius: 17px;
    }
  }
}
