.row-container {
  margin: 0 !important;
  height: 100%;
}
.app-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.col-navbar {
  box-shadow: 0px 0px 16px rgb(0 0 0 / 19%);
}

.ads-col {
  height: 100%;
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.1019607843) inset;
  padding: 10px 0px; /* Add padding to the parent column */
  position: relative; /* Make the position relative for child positioning */

  /* Center the child div vertically and horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    // width: 100%;
  }
}

.ads-section-wrapper {
  width: 100%; /* Make the child div 100% width of the parent */
  height: 100%; /* Make the child div 100% height of the parent */
  background-color: gray; /* Set the background color of the vertical div */
  text-align: center; 
}

.un-auth-wrapper {
  height: 100%;
  
}

.middle-col {
  background-color: #f1f1f1;
}